<section class="page-section bg-dark" > </section>

<section class="page-section bg-dark" >
    
<div class="container ">
        <div class="text-center" >
            <h2 class="section-heading text-uppercase" style="color: blanchedalmond;">SignIn</h2>
            <h3 class="section-subheading text-muted" >Disfruta de nuestro contenido gratis!!!</h3>
        </div>
  <div class="row">

    <div class="col-md-4 mx-auto ">
                  <div class="container text-center my-auto">
 </div>
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              SingIn
            </button>
          </form>
     
    </div>
  </div>
</div>
</div>
</section>
{{>footer}} 
