<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome {{user.fullname}}</div>
        <div class="masthead-heading text-uppercase">{{user.username}}</div> 
         <a href="/videos/add" class="btn btn-primary m-4"> Save your videos</a>
</header>


